.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }